html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    height: 100%;
    width: 100%;
    background:#dbcfb4
}

/*=================KONTÉNEREK=================*/

.rossz {
    color:red;
}

.jo {
    color:green;
}

#background {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 10px;
}

#container {
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 10px;
    padding: 50px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    position: relative;
    z-index: 1;

}

#header {
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    color: #5c4e30;
}

#main {
    display: flex;
    justify-content: space-between;
}

.q {
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    color: #5c4e30;
    transition: 0.5s;
}

#pictures {
    margin: 10px;
    flex: 1;
}

#questions {
    margin: 10px;
    flex: 1;
}

img {
    border-radius: 8px;
    max-height: 350px;
}

#footer {
    display: flex;
    justify-content: space-between;
}

#next {
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
    color: #5c4e30;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    text-align: center;
    transition:0.5s;
}

#back {
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    color: #5c4e30;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    text-align: center;
    transition: 0.5s;
}



/*=================INTERAKTIVITÁS=================*/

.q:hover {
    transform: scale(1.2);
}

#next:hover {
    transform: scale(1.2);
}

#back:hover {
    transform: scale(1.2);
}
